*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: #f0553a;
}
.catdate{
  display:flex;
  align-items: center;
  height:50%;
  justify-content: center;
}
#audiovisual{
  display:fixed;
  bottom:0;
  margin-top: 10px;
}
.datetime{
    color: #fff;
    background: #f0553a;
    font-family: "Segoe UI", sans-serif;
    padding: 15px 10px;
    border: 3px solid #f09e9e;
    border-radius: 5px;
    width: 340px;
    -webkit-box-reflect: below 1 px linear-gradient(transparent,rgba(255,255,255,0.4)); 
    transition: 0.5s;
    transition-property: background, box-shadow;
}
.datetime:hover{
    background: #f09e9e;
    box-shadow: 0 0 30px #f09e9e;
}
.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time span:not(:last-child){
    position: relative;
    margin: 0 6 px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time span:last-child{
    background: #f09e9e;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10 px;
    padding: 0 5px;
    border-radius: 3 px;
}
 

  .cat{
    position:relative;
    top:-0%;
    left:50px;
  }
  
  .face{
    background-color: #100000;
    height:150px;
    width:150px;
    border-radius:70px;
  }
  
  .ear-l,.ear-r{
    width:0;
    height:0;
    border-bottom:40px solid #100000;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position:relative;
    z-index:1;
  }
  
  .ear-l{
    bottom:0px;
    left:-30px;
    transform: rotate(-50deg);
  }
  .ear-r{
    bottom:40px;
    left:100px;
    transform: rotate(50deg);
  }
  
  .eye-l,.eye-r{
    width:30px;
    height:30px;
    background-color:#b6cd61;
    border-radius:50%;
    z-index:1;
    position:relative;
  }
  .eye-l{
    bottom: 10px;
    left:27px;
  }
  .eye-r{
    bottom: 40px;
    left:93px;
  }
  
  .eyeball-l,.eyeball-r{
    width:20px;
    height:20px;
    background-color:#100000;
    border-radius:50%;
    z-index:1;
    position:relative;
  }
  .eyeball-l{
    bottom: 65px;
    left:33px;
  }
  .eyeball-r{
    bottom: 85px;
    left:98px;
  }
  
  .mouth{
    background-color:#FFFFFF;
    width:30px;
    height:2px;
    position:relative;
    top:-60px;
    left:60px;
  }